---
permalink: /2013/
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Hopegrown Productions</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<!-- Le styles -->
<link href="/css/hp.min.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
{% include favicons.html %}
</head>

<body>


<div class="container">
	{% include 2013navbar.html %}

	<div class="row clearfix" id="currentProject">
		{% include 2013Project.html %}
	</div>

	<!-- Marketing messaging and featurettes
	================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

		<div class="row">
			<div class="col-md-12">
				<h2>Our 2013 Cast and Crew</h2>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-4 person">
				<img src="{{site.images}}8620654952_1d6c800282_n.jpg" alt="Lindsey Huebner, Co-Founder and Actor" title="Lindsey Huebner, Co-Founder and Actor">
				<p><strong>Lindsey Huebner</strong><br>Co-Founder and Actor</p>
				<p>Lindsey grew up in Ottawa and is very excited to make her professional debut with this talented bunch of artists and friends. Lindsey received a BFA (with distinction) in theatre performance from Concordia University. Select Concordia credits include Ludlow Fair, The Last Days of Judas Iscariot, Peleus and Thetis and Peer Gynt. Next year, Lindsey is hopping across the pond to complete her MA Acting at the Brisol Old Vic Theatre School. Infinite thank you's to my dear family and supportive friends, without whom this would have been impossible.</p>
			</div>
			<div class="col-md-4 person">
				<img src="{{site.images}}8619552615_85266d4f35_n.jpg" alt="Miriam Cummings, Co-Founder and Actor" title="Miriam Cummings, Co-Founder and Actor">
				<p><strong>Miriam Cummings</strong><br>Co-Founder and Actor</p>
				<p>Miriam was born and raised in London, Ontario. She recently graduated from Concordia's Theatre Performance Program (with Distinction). At Concordia, she and Lindsey acted as Co-Presidents of their student association. Recent theatre credits include Solveig in Peer Gynt (Concordia U.) and Bianca in Taming of the Shrew (Repercussion Theatre). Hopegrown’s summer tour represents a year of dedicated work by many people. Miriam is delighted to spend this summer performing Harry's show with her best friends. Endless gratitude and joy to Hopegrown, Harry, my family and my friends.</p>
			</div>
			<div class="col-md-4 person">
				<img src="{{site.images}}8619553207_17cc7e46cd_n.jpg" alt="Samantha Megarry, Co-Founder and Actor" title="Samantha Megarry, Co-Founder and Actor">
				<p><strong>Samantha Megarry</strong><br>Co-Founder and Actor</p>
				<p>Originally from Burlington, Ontario, Samantha is a graduate of Concordia University's Theatre Performance program (BFA with distinction). Select credits include Lady Macduff/Angus in Macbeth (Repercussion Theatre), Mae in The Wild Party (In Your Face Entertainment), Rachel in Ludlow Fair (Concordia University SIPA Festival), and Antigone in Peleus &amp; Thetis (Concordia University). After four years in Montreal with this team, everything is truly coming full-circle on Hopegrown's hometown tour. Thank you to my wonderful family and friends, the Hopegrown team, and everyone who will see the show this summer! </p>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-4 person">
				<img src="{{site.images}}9378295296_71323bfca5_n.jpg" alt="Mitchell Cohen, Actor" title="Mitchell Cohen, Actor">
				<p><strong>Mitchell Cohen</strong><br>Actor</p>
				<p>Mitchell Cohen studied theatre in his hometown at Canterbury High School in Ottawa, Ontario and has continued in Montreal for the past four years at Concordia University. Recent roles include: a middle-aged Peer Gynt (Concordia), Gremio and Vincentio in The Taming of The Shrew directed by Andrew Shaver and Paul Hopkins (Repercussion Theatre) and Judge Frank Littlefield in The Last Days of Judas Iscariot; directed by Sarah Garton Stanley (Concordia). His directorial&nbsp;début&nbsp;was at the 2013 Montreal Fringe Festival with Good Housekeeping by James Watts. The show was nominated for three awards. He is extremely grateful, happy and excited to be playing on stage with his friends.</p>
			</div>
			<div class="col-md-4 person">
				<img src="{{site.images}}8620654396_cea5010a19_n.jpg" alt="Norah Paton, Director" title="Norah Paton, Director">
				<p><strong>Norah Paton</strong><br>Director</p>
				<p>Norah is originally from Ottawa, Ontario and just finished four years in Concordia University's Theatre Performance program. While in Montreal, selected on stage and back stage credits include Attempts on Her Life (TNC Theatre), The Last Days of Judas Iscariot and The Seventh Seal (Concordia University). Norah is thrilled to be taking Around Miss Julie to so many different places this summer and is so grateful for the support and enthusiasm we have already received. Here’s to a wonderful summer of wonderful theatre!</p>
			</div>
			<div class="col-md-4 person">
				<img src="{{site.images}}8619552169_d865953851_n.jpg" alt="Sonya Vallis, Set, Costume, Lighting Designer" title="Sonya Vallis, Set, Costume, Lighting Designer">
				<p><strong>Sonya Vallis</strong><br>Set, Costume, Lighting Designer</p>
				<p>Originally from Vancouver, Sonya moved to Montreal to pursue a career in the theatre. Well, an education in theatre at any rate. Currently entering her final year in Concordia University’s Design for Theatre program, she has had the opportunity to work in many facets of production on many great projects over the last few years. Projects include, A Midsummer Night’s Dream, Repercussion Theatre; Head à Tête, Geordie Productions; Love U Lovecraft, The Other Theatre; The Seventh Seal, and Theatre_Business, Concordia University. Around Miss Julie is no exception; the wonderful team involved with Hopegrown Productions has made this project an exhilarating experience. Wishing everyone the best of luck as the summer tour continues.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="jumbotron">
					<h2><em>Around Miss Julie</em> critics said...</h2>
					<dl>
						<dt><a href="http://www.productionottawa.com/author/matthewchamp/">Matthew Champ</a> in <a href="http://www.productionottawa.com/aroundmissjuliereview/">Production Ottawa</a></dt>
						<dd>
							All in all <strong><em>Around Miss Julie</em> is to die for</strong>. The last five minutes alone have been the most entertaining five minutes I’ve had in a theatre in a long time.
						</dd>
						<br />
						<dt><a href="http://www.themainmtl.com/2013/06/22/fringe-review-around-miss-julie/">The Main - Montreal</a></dt>
						<dd>They do a fantastic job of featuring three-dimensional female characters that are a spectacle, not just for their beauty, but foremost a result of their strong acting chops.</dd>
						<dd>"...the comical props, consistently strong energy from each actor, and whimsical storyline made Around Miss Julie a delight to watch."</dd>
					</dl>
				</div>
			</div>
		</div>

	{% assign post_count = 0 %}
	{% for post in site.posts %}
		{% if post.title and post.type == 'news' %}
	   {% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
		{% endif %}
	{% endfor %}

	<h2 id="news">2013 Reviews ( {{ post_count }} in all )</h2>
		{% assign posts = site.posts %}
		{% assign listing_limit = 25 %}
		{% include post-listing.html %}


		<img src="{{site.images}}ThankYou_800x531.jpg" style="width:100%" alt="Hopegrown Productions — 2013 — Around Miss Julie" />

		<div class="row clearfix" id="schedule">
			{% include 2013sched.html %}
		</div>


	</div>


	{% include footer.html %}

</div><!-- /.container -->


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
(function($) {

$.fn.equalHeights = function() {
var maxHeight = 0,
            $this = $(this);

$this.each( function() {
var height = $(this).innerHeight();

if ( height > maxHeight ) { maxHeight = height; }
});

return $this.height(maxHeight);
};

})(jQuery);

jQuery(function($) {
        // from http://imakewebthings.com/jquery-waypoints/

        // Wicked credit to
	// http://www.zachstronaut.com/posts/2009/01/18/jquery-smooth-scroll-bugs.html
	var scrollElement = 'html, body';
	$('html, body').each(function () {
		var initScrollTop = $(this).attr('scrollTop');
		$(this).attr('scrollTop', initScrollTop + 1);
		if ($(this).attr('scrollTop') == initScrollTop + 1) {
			scrollElement = this.nodeName.toLowerCase();
			$(this).attr('scrollTop', initScrollTop);
			return false;
		}
	});

	// Smooth scrolling for internal links
	$("a[href^='#']").click(function(event) {
		event.preventDefault();

		var $this = $(this),
		target = this.hash,
		$target = $(target);

		$(scrollElement).stop().animate({
			'scrollTop': $target.offset().top
		}, 500, 'swing', function() {
			window.location.hash = target;
		});

	});

});



// $(".person").equalHeights();

( function( $ ) {
	$( function(){
		// carousel demo
		$( '#myCarousel' ).carousel()
	})
}( window.jQuery ) );
</script>
</body>
</html>
