---

---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Hopegrown Productions</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
<link rel="stylesheet" href="css/social-buttons.css" />


<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="/ico/favicon.ico">

<style type="text/css">
	.carousel {
		margin-bottom: 60px;
	}
	.carousel .item {
		height: 500px;
	}
	.carousel img {
		/* position: absolute; */
		top: 0;
		left: 0;
		/* min-width: 100%; */
		margin: auto;
		height: 500px;
	}
</style>

</head>

<body>


<!-- Carousel
================================================== -->
<div class="container">
	{% include navbar.html %}
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="item active">
				<img src="images/bowlOfCards_745x500.jpg"  alt="Hopegrown Productions">
			</div>
			<div class="item">
				<a href="/thanks"><img src="images/ThankYou_800x531.jpg"  alt="Hopegrown Productions"></a>
			</div>
			<div class="item">
				<img src="images/star_745x500.jpg"  alt="Hopegrown Productions">
			</div>
			<div class="item">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="jumbotron">
							<h2><em>Around Miss Julie</em> critics say...</h2>
							<dl>
								<dt><a href="http://www.productionottawa.com/author/matthewchamp/">Matthew Champ</a> in <a href="http://www.productionottawa.com/aroundmissjuliereview/">Production Ottawa</a></dt>
								<dd>
									All in all <strong><em>Around Miss Julie</em> is to die for</strong>. The last five minutes alone have been the most entertaining five minutes I’ve had in a theatre in a long time.
								</dd>
								<br />
								<dt><a href="http://www.themainmtl.com/2013/06/22/fringe-review-around-miss-julie/">The Main - Montreal</a></dt>
								<dd>They do a fantastic job of featuring three-dimensional female characters that are a spectacle, not just for their beauty, but foremost a result of their strong acting chops.</dd>
								<dd>"...the comical props, consistently strong energy from each actor, and whimsical storyline made Around Miss Julie a delight to watch."</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="row">
					<div class="col-md-12">
						<div class="jumbotron">
							<h2><em>Around Miss Julie</em></h2>
							{% include awards.html %}
						</div>
					
					</div>
				</div>
			</div>

			<div class="item">
				<img src="images/8798277531c.jpg" alt="Hopegrown Productions">
			</div>

			<div class="item">
				<img src="images/8808952394c.jpg" alt="Hopegrown Productions">
			</div>

			<div class="item">
				<img src="images/8808908256c.jpg" alt="Hopegrown Productions">
			</div>

			<div class="item">
				<img src="images/8620684808c.jpg" alt="Hopegrown Productions">
			</div>

		</div>
	
		<!-- controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div><!-- /.carousel -->
</div>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">
	<div class="row">
		<div class="marketing">
			<div class="col-md-6">
				<p class="lead"><strong>Hopegrown Productions</strong> is a Montreal-based theatre company, founded in Fall 2012 
					by Miriam Cummings, Lindsey Huebner and Samantha Megarry. We are committed to staging relevant stories featuring 
					dynamic female characters.</p>

			</div>
			<div class="col-md-6">
				<p class="lead">In 2013, Hopegrown’s debut production <em>Around Miss Julie</em> by Harry Standjofksi completed an 
					ambitious 6-city tour, including the Edinburgh Festival Fringe. Exciting things to come in 2014! Check back in January!
				</p>


			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 text-center">
			<a href="https://www.facebook.com/HopegrownProductions"><button class="btn btn-xlarge btn-facebook"><i class="icon-facebook"></i> | Connect with Facebook</button></a>
		</div>		
		<div class="col-sm-4 text-center">
			<a href="https://twitter.com/HopegrownPro"><button class="btn btn-xlarge btn-twitter"><i class="icon-twitter"></i> | Connect with Twitter</button></a>
		</div>		
		<div class="col-sm-4 text-center">
			<p class="lead"><a href="mailto:info@hopegrown.ca">info@hopegrown.ca</a></p>
		</div>		
	</div>

	<div class="row" id="currentProject">
		{% include currentProject.html %}
	</div>


	<div class="row">
		<div class="col-md-12">
			<h2>About Us</h2>
		</div>
	</div>
	<div class="row">
{% for sitepage in site.pages %}
{% if sitepage.role == 'Co-Founder and Actor' %}
		<div class="col-md-4 person">
			<img src="{{ sitepage.head320 }}" alt="{{ sitepage.name }}, {{ sitepage.role }}"  title="{{ sitepage.name }}, {{ sitepage.role }}">
			<p><strong>{{ sitepage.name }}</strong><br>{{ sitepage.role }}</p>
			<p>{{ sitepage.content }}</p>
		</div>
{% endif %}
{% endfor %}
	</div>


	{% include footer.html %}

</div><!-- /.container -->


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script>
(function($) {

$.fn.equalHeights = function() {
var maxHeight = 0,
            $this = $(this);

$this.each( function() {
var height = $(this).innerHeight();

if ( height > maxHeight ) { maxHeight = height; }
});

return $this.height(maxHeight);
};

})(jQuery);

jQuery(function($) {
        // from http://imakewebthings.com/jquery-waypoints/

        // Wicked credit to
	// http://www.zachstronaut.com/posts/2009/01/18/jquery-smooth-scroll-bugs.html
	var scrollElement = 'html, body';
	$('html, body').each(function () {
		var initScrollTop = $(this).attr('scrollTop');
		$(this).attr('scrollTop', initScrollTop + 1);
		if ($(this).attr('scrollTop') == initScrollTop + 1) {
			scrollElement = this.nodeName.toLowerCase();
			$(this).attr('scrollTop', initScrollTop);
			return false;
		}
	});

	// Smooth scrolling for internal links
	$("a[href^='#']").click(function(event) {
		event.preventDefault();

		var $this = $(this),
		target = this.hash,
		$target = $(target);

		$(scrollElement).stop().animate({
			'scrollTop': $target.offset().top
		}, 500, 'swing', function() {
			window.location.hash = target;
		});

	});

});



// $(".person").equalHeights();

( function( $ ) {
	$( function(){
		// carousel demo
		$( '#myCarousel' ).carousel()
	})
}( window.jQuery ) );
</script>
</body>
</html>
