<style>
	a.btn { margin-left:1.5em;}
</style>
<h2 id="past">2013 Tour Venues and Dates</h3>
<div class="row">

<div class="col-md-6">
	<dl class="schedule">
		<dt><a href="https://www.edfringe.com">Edinburgh Festival Fringe - August 2-26, 2013</a> <br>
			C Nova Studios (India Buildings, Victoria St, Edinburgh, Scotland)</dt>
			<dd>Sunday, August 11 2013 @ 5:30PM</dd>
			<dd>Monday, August 12 2013 @ 5:30PM</dd>
			<dd>Tuesday, August 13 2013 @ 5:30PM</dd>
			<dd>Wednesday, August 14 2013 @ 5:30PM</dd>
			<dd>Thursday, August 15 2013 @ 5:30PM</dd>
			<dd>Friday, August 16 2013 @ 5:30PM</dd>
			<dd>Saturday, August 17 2013 @ 5:30PM</dd>
			<dd>Sunday, August 18 2013 @ 5:30PM</dd>
			<dd>Monday, August 19 2013 @ 5:30PM</dd>
			<dd>Tuesday, August 20 2013 @ 5:30PM</dd>
			<dd>Wednesday, August 21 2013 @ 5:30PM</dd>
			<dd>Thursday, August 22 2013 @ 5:30PM</dd>
			<dd>Friday, August 23 2013 @ 5:30PM</dd>
			<dd>Saturday, August 24 2013 @ 5:30PM</dd>
			<dd>Sunday, August 25 2013 @ 5:30PM</dd>
			<dd>Monday, August 26 2013 @ 5:30PM</dd>


		<dt><a href="http://hamiltonfringe.ca/">Hamilton Fringe Festival - July 18-28, 2013</a>  <br>
			Citadel Studio (28 Rebecca St, Hamilton, ON)</dt>
			<dd>Thursday, July 18 2013 @ 6:30PM</dd>
			<dd>Sunday, July 21 2013 @ 2:30PM</dd>
			<dd>Monday, July 22 2013 @ 6:30PM</dd>
			<dd>Tuesday, July 23 2013 @ 8:00PM</dd>
			<dd>Thursday, July 25 2013 @ 6:30PM</dd>
			<dd>Friday, July 26 2013 @ 10:00PM</dd>
			<dd>Saturday, July 27 2013 @ 2:30PM</dd>


	</dl>
</div>
<div class="col-md-6">
	<dl class="schedule">
		<dt><a href="http://www.flounderfest.com/sample-page/2013-show-schedule/">Beyond The Flounder Festival - July 19-20, 2013</a>  <br>
			Burlington Student Theatre (2131 Prospect St, Burlington, ON)</dt>
			<dd>Friday, July 19 2013 @ 7:00PM</dd>
			<dd>Saturday, July 20 2013 @ 5:45PM</dd>
			<dd>Saturday, July 20 2013 @ 9:30PM</dd>

		<dt><a href="http://www.artsproject.ca/theatre/hopegrown">London, Ontario - July 3-6, 2013</a>  <br>
			The ARTS Project (203 Dundas St, London, ON)</dt>
			<dd>Wednesday, July 3rd, 8:00PM</dd>
			<dd>Thursday, July 4th, 8:00PM</dd>
			<dd>Friday, July 5th, 8:00PM</dd>
			<dd>Saturday, July 6th, 2:00PM and 8:00PM</dd>

		<dt><a href="http://www.ottawafringe.com/">Ottawa Fringe Festival</a> - June 20-30, 2013  <br>
			T.A.N. Cafe (317 Wilbrod St, Ottawa, ON)
			</dt>
			<dd>Tuesday, June 25 2013 @ 7:00PM</dd>
			<dd>Wednesday, June 26 2013 @ 7:00PM</dd>
			<dd>Thursday, June 27 2013 @ 7:30PM</dd>
			<dd>Friday, June 28 2013 @ 7:30PM</dd>
			<dd>Saturday, June 29 2013 @ 6:00PM</dd>
			<dd>Sunday, June 30 2013 @ 9:00PM</dd>

		<dt><a href="http://www.montrealfringe.ca/en/show/around-miss-julie">St-Ambroise Montreal Fringe Festival</a> - June 3-23, 2013 <br>
			Club Espagnol (4388 St. Laurent Blvd, Montreal, QC)
		</dt>
			<dd>Saturday, June 15th 2013, 11:15PM</dd>
			<dd>Sunday, June 16th 2013, 8:00PM</dd>
			<dd>Monday, June 17th 2013, 11:00PM</dd>
			<dd>Thursday, June 20th 2013, 1:30PM</dd>
			<dd>Friday, June 21st 2013, 10:30PM</dd>
			<dd>Sunday, June 23rd 2013, 7:00PM</dd>
	</dl>
</div>
