<div class="col-md-6">

	<h2>Our 2013 production</h2>
	<h1><em>Around Miss Julie</em></h1>
	<p>A play by <a href="http://www.imdb.com/name/nm0822092/">Harry Standjofski</a></p>

	<p>Auditions, rehearsals, opening night&hellip; Four young artists struggle to put on &ldquo;Julie In A Snowstorm&rdquo; - a new adaptation of Strindberg&rsquo;s classic. The lines between rehearsal and reality are blurred as the cast tangles with the play, each other&hellip; and a dead bird. </p>

	<p><strong><em>Around Miss Julie</em></strong> looks at the uncertainty of being 20-something, the hilarious and sometimes manic process of putting on a play, and the relationships we develop or destroy along the way.</p>

	<p>Director: <strong>Norah Paton</strong><br/>
	Designer: <strong>Sonya Vallis</strong></p>

	<h4>Cast</h4>

	<p><strong>Graham Berlin</strong> as Lyle<br/>
	<strong>Miriam Cummings</strong> as Julie<br/>
	<strong>Lindsey Huebner</strong> as Donna<br/>
	<strong>Samantha Megarry</strong> as Ilona</p>
</div>
<div class="col-md-6">
	<img alt="Hopegrown Productions — 2013 — Around Miss Julie" src="{{site.images}}bloodyboid.jpg">
	{% include awards.html %}
</div>
