
<p><strong><a href="https://www.google.com/maps/place/Th%C3%A9%C3%A2tre+Rialto/@45.5240989,-73.6044515,16z/data=!4m6!1m3!3m2!1s0x4cc91979b5c90b2d:0x7b2509bbe74a11aa!2zVGjDqcOidHJlIFJpYWx0bw!3m1!1s0x4cc91979b5c90b2d:0x7b2509bbe74a11aa">The Rialto Piccolo</a> <span class="text-nowrap">5723 du Parc</span></strong></p>

<p>
	Wed 3 June at 20:30<br>
	Thu 4 June at 20:30<br>
	Mon 8 June at 20:30<br>
	Tue 9 June at 20:30<br>
	Wed 10 June at 20:30<br>
	Thu 11 June at 20:30<br>
	Fri 12 June at 20:30<br>
	Sat 13 June at 14:30<br>
	Sun 14 June at 14:30<br>
	Mon 15 June at 20:30<br>
	Tue 16 June at 20:30<br>
	Thu 18 June at 20:30<br>
	Fri 19 June at 20:30<br>
	Sat 20 June at 14:30<br>
</p>
