<div class="col-sm-12" style="background-color:#FEFDFD;">
	<h2>Our 2016 production</h2>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h1><em>The Tragedy of Julius Caesar</em> <small class="text-nowrap">by William Shakespeare</small></h1>
		<div class="col-sm-12">
				<p class="lead">
					Directed by <a href="http://www.imagotheatre.ca/about-amanda-kellock/">Amanda Kellock</a>.
				</p>
				<p class="lead">
					In the new year, Hopegrown will begin working with Repercussion to
					co-produce a big event in celebration of William Shakespeare’s birthday. We’d love for you to join us in April 2016!
				</p>
				<p class="lead">
					Our collaboration will culminate in Repercussion’s 28th annual touring show, an all-female production of Shakespeare’s
					<em>The Tragedy of Julius Caesar</em>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-10 col-sm-offset-1">
				<img src="/images/RepercussionLogo.jpeg"  class="img-responsive img-thumbnail" style="width:100%" alt="The Tragedy of Julius Caesar">
			</div>
			<div class="col-sm-10 col-sm-offset-1">
				<img src="/images/Taming2012.jpg"  class="img-responsive img-thumbnail" style="width:100%" alt="The Tragedy of Julius Caesar">
			</div>
			<div class="col-sm-10 col-sm-offset-1">
				<img src="/images/Macbeth2011.jpg"  class="img-responsive img-thumbnail" style="width:100%" alt="The Tragedy of Julius Caesar">
			</div>

		</div>
	</div>
</div>


