<div class="col-sm-12" style="background-color:#FEFDFD;">
	<h2>Our 2019 production</h2>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h1><em>The One</em></h1>
			<div class="col-sm-12">
				<div class="col-sm-6">
					<p class="lead">
						A woman in her early (late) twenties searches for love in real life (online) while developing the world’s most authentic
						(fake) dating app. A comedic-drama examining the rules of engagement in the endless world of swiping, insta-sharing and
						#relationshipgoals. What is vulnerability in 2019 and are we even open to experiencing it?
					</p>
					<p class="lead">
						Playwright:
						<strong>Miriam Cummings</strong>
					</p>
					<p class="lead">
						Director:
						<strong>Samantha Megarry</strong>
					</p>
					<p class="lead">
						<strong>Show info</strong><br>
						<a href="https://montrealfringe.ca/">St-Ambroise Montreal Fringe Festival</a><br>
						Venue 3<br>
						Montreal Improv B<br>
						3713 St-Laurent Blvd. #202<br>
						June 6 @ 6:00pm<br>
						June 8 @ 3:15pm<br>
						June 10 @ 7:30pm<br>
						June 12 @ 7:00pm<br>
						June 14 @ 6:00pm<br>
						June 15 @ 11:45pm<br>
						June 16 @ 4:30pm<br>
						Tickets: <a href="www.montrealfringe.ca">www.montrealfringe.ca</a>
					</p>
				</div>
				<div class="col-sm-6">
					<div class="col-sm-10 col-sm-offset-1">
						<img src="/images/poster-withlogos-570.jpg" class="img-responsive img-thumbnail" style="width:100%" alt="The One">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


