<style>
	button.award { margin-bottom: 5px; width:100%;}
</style>
<div class="col-md-12">
	<h3>Awards and Nominations</h3>
	<dl>
		<dt>St-Ambroise Montreal Fringe Festival</dt>
		<dd>
			<button class="btn btn-warning award"><i class="glyphicon glyphicon-star-empty"></i> <strong>Winner: <em>Spirit of the Fringe Award</em></strong></button>
		</dd>
		<dd>
			<button class="btn award"><strong>Nominated</strong>: <em>Best Production: English Theatre Award</em></button>
		</dd>
		<dd>
			<button class="btn award"><strong>Nominated</strong>: <em>Beyond the Mountain Award</em></button>
		</dd>
	</dl>
</div>
<div style="clear:both;"></div>
