<div class="col-md-12">
	<h3>Coming in 2015</h3>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="well clearfix" style="margin-top:24px;">
				<h1 class="text-center"><em>Hello Hopegrown Friends!</em></h1>
				<div class="col-md-10 col-md-offset-1">
					<p class="lead">A belated <strong>happy new year</strong> and a <strong>huge THANK YOU</strong> to everyone who
					came out to see LOTUS in Montreal and London last summer. It is thanks to your generous
					energy and support that Hopegrown continues to be able to produce new work.</p>

					<p class="lead">2015 is going to be another big year for Hopegrown, as we embark on our
					third production. We are thrilled to announce that Hopegrown will be
					presenting a brand new play by exciting emerging playwright <strong>Julie Foster</strong>.
					Originally from Toronto, Julie is currently studying Playwriting at
					Concordia University.</p>

					<p class="lead">Hopegrown will be partnering with local company <strong>MaryBeth Productions</strong> at
					the beautiful <strong><a href="http://www.theatrerialto.ca/">Rialto Theatre Piccolo</a></strong> as
					part of the Montreal Off-Fringe in June 2015.</p>

					<p class="lead">MaryBeth Productions is returning to the Montreal FRINGE for the first time
					since the debut of <em><a href="http://michaeladicesare.com/8-ways/">8 Ways my Mother was Conceived</a></em>
					in 2010. MaryBeth will be offering a new play by <a href="http://michaeladicesare.com/about/">Michaela Di Cesare</a>.
					Michaela has performed her award-winning one-woman show
					<em class="lead"><a href="http://michaeladicesare.com/8-ways/">8 Ways my Mother was Conceived</a></em> in Toronto,
					Montreal, New York City, Ottawa, Hudson and Winnipeg. You may also know
					Michaela from the web series <em><a href="http://michaeladicesare.com/sex-ethnicity/">Sex &amp; Ethnicity</a></em>.
					Michaela has just completed one year as the Playwright-In-Residence at Imago Theatre.</p>

					<p class="lead">The rest of the creative team is coming together, the play is being workshopped, and we’re counting
					the days until warm and sunny Fringe time!</p>

					<p class="lead">Stay tuned! More announcements coming soon!</p>

					<p class="lead">Meanwhile... <strong>we'd love to hear from you!</strong></p>
				</div>
			</div>
		</div>
	</div>
</div>




