<div class="span12">
<h2>Current Project</h2>

<p>Here’s a dirty theatre secret: the majority of theatre school graduates are women, yet there are very few good plays full of strong roles for young female actors. What we want is to play our own age and gender in an exciting new piece of Canadian theatre.</p>

<p>Hopegrown Productions is committed to staging women’s stories, not men’s stories featuring women. As emerging artists, we strive to be a part of the movement towards making theatre a more gender-equal art form. We have determined that in order to make the theatre we want to make, we must create artistic opportunities for ourselves.</p>
</div>

<div class="span6">

<h3>Around Miss Julie</h3>

<p>A new play by <a href="http://www.imdb.com/name/nm0822092/">Harry Standjofski</a></p>

<p>Auditions, rehearsals, opening night&hellip; Four young artists struggle to put on &ldquo;Julie In A Snowstorm&rdquo; - a new adaptation of Strindberg&rsquo;s classic. The lines between rehearsal and reality are blurred as the cast tangles with the play, each other&hellip; and a dead bird. </p>

<p><strong><em>Around Miss Julie</em></strong> looks at the uncertainty of being 20-something, the hilarious and sometimes manic process of putting on a play, and the relationships we develop or destroy along the way.</p>

<p>Director: <strong>Norah Paton</strong><br/>
Designer: <strong>Sonya Vallis</strong></p>

<h4>Cast</h4>

<p><strong>Graham Berlin</strong> as Lyle<br/>
<strong>Miriam Cummings</strong> as Julie<br/>
<strong>Lindsey Huebner</strong> as Donna<br/>
<strong>Samantha Megarry</strong> as Ilona</p>

<p>Hopegrown Productionsʼ <strong><em>Around Miss Julie</em></strong> will premiere at the <a href="http://www.montrealfringe.ca/en/show/around-miss-julie">St-Ambroise Montreal Fringe Festival</a>, before taking off on an ambitious tour to: the Ottawa Fringe Festival, The ARTS Project (London, ON), the Hamilton Fringe Festival, the Beyond the Flounder Festival (Burlington, ON) and the Edinburgh Festival Fringe (Edinburgh, Scotland).</p>
</div>
<div class="span5">
	<img alt="" src="/images/bloodyboid.jpg">
</div>
