<div class="col-md-12">
	<div class="row">
		<h2>Our 2014 production:  <em>Lotus</em></h2>

		<div class="col-md-4 col-md-offset-2 lead">
			<p>by <a href="http://http://www.caitlinmurphy.ca/">Caitlin Murphy</a></p>
			<p>Director: <strong>Bryan Doubt</strong><br/>
			Designer: <strong>Sonya Vallis</strong></p>
			<p>Featuring:<p>
			<strong>Miriam Cummings</strong><br/>
			<strong>Samantha Megarry</strong></p>
			</p>
		</div>
		<div class="col-md-5 lead">
			<p>When a gruesome picture appears on a teenager’s facebook page, a young
			police officer becomes intent on proving that something heinous has
			occurred.</p>

			<p>But is it a crime or a prank? Is the teen a silenced victim of
			bullying or a savvy negotiator in a culture of ambiguity?</p>
		</div>
	</div>

	<div class="row">

<h4 class="text-center"><em>Lotus</em> will premiere at the St-Ambroise Montreal Fringe in June 2014.
stay tuned for more info!</h4>
	</div>
	<div class="row">
		<h3>Here's our next event:</h3>
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading clearfix">
					<h3 class="panel-title"><i class="fa fa-thumbs-o-up"></i> Get Your DRINK ON for Hopegrown <span class="pull-right">Feb 1 <i class="fa fa-calendar"></i></span></h3>
				</div>
				<div class="panel-body">
					<p>Here's <a href="https://www.facebook.com/events/219700638210099/?ref=22">the plan so far. <i class="fa fa-facebook-square"></i></a></p>
					<p><strong>WHERE</strong>: McKibbin's Bishop Street (1426 Bishop Street, Montréal)</p>
					<p><strong>WHEN</strong>: Saturday, February 1st @ 9:00pm.</p>
					<p><strong>WHY</strong>: To fundraise for Hopegrown's next project &amp; to share an evening with the fantastic Montreal theatre community</p>

					<p>Invite all your friends and dance the night away! We'll be selling $5 wristbands to get you cheap drinks all night.</p>
				</div>
			</div>
		</div>
	</div>
</div>



