<!-- NAVBAR
================================================== -->
<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<a class="brand" href="/">Hopegrown Productions</a>
			<div class="nav-collapse collapse">

				<ul class="nav">
					<li><a href="/#currentProject">Current Project</a></li>
					<li><a href="/#schedule">Schedule</a></li>
					<li class="divider-vertical"></li>
					{% assign post_count = 0 %}
					{% for post in site.posts %}
						{% if post.title and post.type == 'news' %}
					   {% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
						{% endif %}
					{% endfor %}
					<li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="/archive/">Reviews ({{ post_count }} in all ) <b class="caret"></b></a>
						<ul class="dropdown-menu">
							{% for post in site.posts %}
								{% if post.title and post.type == 'news' %}
							<li><a href="{{ root_url }}{{ post.url }}">{{ post.date | date: '%b %e %Y' }} - {{ post.title }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</li>

					
				</ul>
				<ul class="nav pull-right visible-desktop">
					<li><strong>Currently Playing:</strong> <a href="https://www.edfringe.com/whats-on/theatre/around-miss-julie">Edinburgh Festival Fringe - August 11-26, 2013</a></li>
				</ul>
			</div>
		</div> <!-- /.container -->
	</div>
</div><!-- /.navbar-wrapper -->