<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper clearfix">
	<!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="/">Hopegrown Productions</a>
				<ul class="nav">
					<li><a href="/#currentProject">Current Project</a></li>
					<li><a href="/#schedule">Schedule</a></li>
					<li><a href="http://www.montrealfringe.ca/en/show/around-miss-julie">GET TICKETS</a></li>
					<li class="divider-vertical"></li>
					<li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="/archive/">News & Reviews <b class="caret"></b></a>
						<ul class="dropdown-menu">
							{% for post in site.posts %}
								{% if post.title and post.type == 'news' %}
							<li><a href="{{ root_url }}{{ post.url }}">{{ post.date | date: '%b %e %Y' }} - {{ post.title }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</li>
					
				</ul>
			</div>
		</div>
	</div> <!-- /.container -->
</div><!-- /.navbar-wrapper -->