{% unless num_words %}
  {% assign num_words = 75 %}
{% endunless %}

{% for post in posts limit: listing_limit %}
  <h3><a href="{{ post.url }}" class="dark-link"><em>{{ post.title }}</em></a></h3>
  <h4 class="low-top">
    Posted on {{ post.date | date: "%B %e, %Y" }} {% if post.tagline %}{{ post.tagline }}{% endif %}
    {% unless no_category %}
      {% if post.category %}
        in <a href="/categories/{{ post.category | slugize }}">{{ post.category }}</a>
      {% endif %}
    {% endunless %}
  </h4>
  
  <p>{{ post.content | strip_html | truncatewords: num_words }} (<strong><a href="{{ post.url }}">Read more</a></strong>)</p>

{% endfor %}
