<style>
	a.btn { margin-left:1.5em;}
</style>
<h2>Venues and Dates</h2>
<p>Last updated: {{ site.time | date: "%h %d %Y" }}.</p>
<dl class="schedule">


<dt><a href="http://www.montrealfringe.ca/">The ARTS Project</a> London, ON - Aug 5-9, 2014&nbsp;&nbsp;&nbsp;
<p>203 Dundas Street, London, Ontario N6A 4G1</p>
<img src="/images/theartsproject-BLACK-250.png" class="pull-right" alt="The ARTS project" style="margin-top:1em"
</dt>
	<dd>Tuesday, August 5,  8:00 PM - <strong><small>Pay What You Can Performance</small></strong></dd>
	<dd>Wednesday, August 6,  8:00 PM</dd>
	<dd>Thursday, August 7,  8:00 PM</dd>
	<dd>Friday August 8,  8:00 PM</dd>
	<dd>Saturday, August 9, 2:00 and 8:00 PM</dd>
</dl>

<h3>Past Venues and Dates</h3>

<dt><a href="http://www.montrealfringe.ca/">St-Ambroise Montreal Fringe Festival</a> - June 2-22, 2014&nbsp;&nbsp;&nbsp;
<img src="/images/Montreal-Fringe-Black-250.png" class="pull-right" alt="Montreal Fringe Festival" style="margin-top:1em"/>
</dt>
	<dd class="text-muted">Saturday, June 14, 10 PM</dd>
	<dd class="text-muted">Sunday, June 15, 12:45 PM</dd>
	<dd class="text-muted">Monday, June 16, 6:30 PM</dd>
	<dd class="text-muted">Thursday, June 19, 8:15 PM</dd>
	<dd class="text-muted">Saturday, June 21, 4:15 PM</dd>
	<dd class="text-muted">Sunday, June 22, 9:30 PM</dd>
</dl>
