<h2>Summer Tour 2013</h2>
<p>Last updated: {{ site.time | date: "%h %d %Y" }}</p>
<dl class="schedule">
	<dt><a href="http://www.montrealfringe.ca/en/show/around-miss-julie">St-Ambroise Montreal Fringe Festival</a> - June 3-23, 2013 <br>
		Club Espagnol (4388 St. Laurent Blvd, Montreal, QC) -- 
		<a href="http://www.montrealfringe.ca/en/show/around-miss-julie">GET TICKETS</a>
	<img src="https://farm9.staticflickr.com/8385/8635134826_2820243aa6_n.jpg" class="pull-right" alt="Montreal Fringe Festival" />	
	</dt>
		<dd>Saturday, June 15th, 11:15PM</dd>
		<dd>Sunday, June 16th, 8:00PM</dd>
		<dd>Monday, June 17th, 11:00PM</dd>
		<dd>Thursday, June 20th, 1:30PM</dd>
		<dd>Friday, June 21st, 10:30PM</dd>
		<dd>Sunday, June 23rd, 7:00PM</dd>

	<dt><a href="http://www.ottawafringe.com/">Ottawa Fringe Festival</a> - June 20-30, 2013  <br>
		T.A.N. Cafe (317 Wilbrod St, Ottawa, ON) -- Tickets on sale June 1 2013.
		<a href="http://www.ottawafringe.com/"><img src="/images/ottawaLOGO-320.jpg" class="pull-right" alt="Ottawa Fringe Festival" /></a>
		</dt>
		<dd>Tuesday, June 25 @ 7:00PM</dd>
		<dd>Wednesday, June 26 @ 7:00PM</dd>
		<dd>Thursday, June 27 @ 7:30PM</dd>
		<dd>Friday, June 28 @ 7:30PM</dd>
		<dd>Saturday, June 29 @ 6:00PM</dd>
		<dd>Sunday, June 30 @ 9:00PM</dd>

	<dt><a href="http://www.artsproject.ca/theatre/hopegrown">London, Ontario - July 3-6, 2013</a>  <br>
		The ARTS Project (203 Dundas St, London, ON)</dt>
		<dd>Wednesday, July 3rd, 8:00PM</dd>
		<dd>Thursday, July 4th, 8:00PM</dd>
		<dd>Friday, July 5th, 8:00PM</dd>
		<dd>Saturday, July 6th, 2:00PM and 8:00PM</dd>

	<dt><a href="http://totteringbiped.ca/2013/04/flounder-festival/">Beyond The Flounder Festival - July 19-20, 2013</a>  <br>
		Burlington Student Theatre (2131 Prospect St, Burlington, ON)</dt>
		<dd>Times T.B.A.</dd>

	<dt><a href="http://hamiltonfringe.ca/">Hamilton Fringe Festival - July 18-28, 2013</a>  <br>
		Citadel Studio (28 Rebecca St, Hamilton, ON)</dt>
		<dd>Thursday, July 18 @ 6:30PM</dd>
		<dd>Sunday, July 21 @ 2:30PM</dd>
		<dd>Monday, July 22 @ 6:30PM</dd>
		<dd>Tuesday, July 23 @ 8:00PM</dd>
		<dd>Thursday, July 25 @ 6:30PM</dd>
		<dd>Friday, July 26 @ 10:00PM</dd>
		<dd>Saturday, July 27 @ 2:30PM</dd>
		
	<dt><a href="https://www.edfringe.com/whats-on/theatre/around-miss-julie">Edinburgh Festival Fringe - August 2-26, 2013</a> <br>
		C Nova Studios (<a href="https://www.edfringe.com/venues/c-venues-c-nova">India Buildings, Victoria St, Edinburgh, Scotland</a>)</dt>
		<dd>Sunday, August 11 @ 5:30PM</dd>
		<dd>Monday, August 12 @ 5:30PM</dd>
		<dd>Tuesday, August 13 @ 5:30PM</dd>
		<dd>Wednesday, August 14 @ 5:30PM</dd>
		<dd>Thursday, August 15 @ 5:30PM</dd>
		<dd>Friday, August 16 @ 5:30PM</dd>
		<dd>Saturday, August 17 @ 5:30PM</dd>
		<dd>Sunday, August 18 @ 5:30PM</dd>
		<dd>Monday, August 19 @ 5:30PM</dd>
		<dd>Tuesday, August 20 @ 5:30PM</dd>
		<dd>Wednesday, August 21 @ 5:30PM</dd>
		<dd>Thursday, August 22 @ 5:30PM</dd>
		<dd>Friday, August 23 @ 5:30PM</dd>
		<dd>Saturday, August 24 @ 5:30PM</dd>
		<dd>Sunday, August 25 @ 5:30PM</dd>
		<dd>Monday, August 26 @ 5:30PM</dd>
</dl>
