<style>
	a.btn { margin-left:1.5em;}
</style>
<h2>Venues and Dates</h3>
<p>Last updated: {{ site.time | date: "%h %d %Y" }}.</p>
<dl class="schedule">

<dt><a href="http://www.montrealfringe.ca/">St-Ambroise Montreal Fringe Festival</a> - June 2-22, 2014 <br>
	Tickets on sale soon.
<img src="https://farm9.staticflickr.com/8385/8635134826_2820243aa6_n.jpg" class="pull-right" alt="Montreal Fringe Festival" />
</dt>
	<dd>Saturday, June 14, 10 PM</dd>
	<dd>Sunday, June 15, 12:45 PM</dd>
	<dd>Monday, June 16, 6:30 PM</dd>
	<dd>Thursday, June 19, 8:15 PM</dd>
	<dd>Saturday, June 21, 4:15 PM</dd>
	<dd>Sunday, June 22, 9:30 PM</dd>
