<div class="well clearfix">
	<div class="col-md-6">
				<h4><a href="https://www.facebook.com/events/254609411543032/">Fundraiser at McKibbin's Irish Pub April 24<sup>th</sup></a></h4>
				<p>
					<strong>Shakespeare's Birthday Party</strong> is a fundraiser for Repercussion's 2016 summer tour:
					<em><strong>The Tragedy of Julius Caesar</strong></em>.</p>
				</p>

				<ul>
					<li>Sunday, April 24, 2016 | 5:30-8:00pm</li>
					<li><a href="http://www.mckibbinsirishpub.com/">McKibbin's Irish Pub</a> | 1426 Bishop Street, 3rd Floor</li>
					<li>Prizes! Drink specials! Party games! Performances! Birthday cake! Dance party!</li>
				</ul>
				<p>
					$10 in advance | $15 at the door | RSVP on <a href="https://www.facebook.com/events/254609411543032/">Facebook</a>
				</p>

	</div>
	<div class="col-md-6">
		<a href="https://www.facebook.com/events/254609411543032/"><img src="images/1327997958313679068_n.jpg" alt="" width=100%></a>
	</div>
</div>
