<div class="row">
	<div class="soc col-md-3">
		<a href="https://www.facebook.com/HopegrownProductions">
			<button class="btn btn-block btn-social btn-facebook" style="width:100%"><i class="fa fa-facebook"></i>We're on Facebook</button>
		</a>
	</div>
	<div class="soc col-md-3">
		<a href="https://twitter.com/HopegrownPro">
			<button class="btn btn-block btn-social btn-twitter" style="width:100%"><i class="fa fa-twitter"></i>We Tweet</button>
		</a>
	</div>
	<div class="soc col-md-3">
		<a href="http://www.flickr.com/photos/hopegrown/">
			<button class="btn btn-block btn-social btn-flickr" style="width:100%"><i class="fa fa-flickr"></i>Photos on Flickr</button>
		</a>
	</div>
	<div class="soc col-md-3">
		<a href="mailto:info@hopegrown.ca">
			<button class="btn btn-block btn-social btn-github" style="width:100%"><i class="fa fa-envelope-o"></i>info@hopegrown.ca</button>
		</a>
	</div>
</div>
